@import "../../../../sassstd/src/sassstd";
@import "../../../../sassyjson/stylesheets/SassyJSON";
@import "../../../../scss-zhilizhili-mei/stylesheets/mei";

@import "../../../../zhilizhili-ui/framework/sass/utils/full-parent";
@import "../../../../zhilizhili-ui/framework/sass/utils/size";
@import "../../../../zhilizhili-ui/framework/sass/utils/bem";
@import "../../../../zhilizhili-ui/framework/sass/utils/query-selector";
@import "../../../../zhilizhili-ui/framework/sass/common/sim-querySelector";

@import "../../../settings/sass/namespace";

/// @access public
/// @author lbc
///
/// utility float-left float-right
@mixin com-zhilizhili-use-utility-float() {
    .#{$ns}-utility-float-left {
        float: left;
    }
    .#{$ns}-utility-float-right {
        float: right;
    }
}

@mixin com-zhilizhili-use-utility-float-with-media($media, $ns: "zl") {
    .#{$ns}-#{$media}-utility-float-left {
        float: left;
    }
    .#{$ns}-#{$media}-utility-float-right {
        float: right;
    }
}