@import "../../../../sassstd/src/sassstd";
@import "../../../../sassyjson/stylesheets/SassyJSON";
@import "../../../../scss-zhilizhili-mei/stylesheets/mei";

@import "../../../../zhilizhili-ui/framework/sass/utils/full-parent";
@import "../../../../zhilizhili-ui/framework/sass/utils/size";
@import "../../../../zhilizhili-ui/framework/sass/utils/bem";
@import "../../../../zhilizhili-ui/framework/sass/utils/query-selector";
@import "../../../../zhilizhili-ui/framework/sass/common/sim-querySelector";

@import "../../../settings/sass/namespace";

@mixin com-zhilizhili-zhilizhiliui-framework-common-mustbe() {
    .#{$ns}-full-width {
        width: 100%;
        &.important {
            width: 100% !important;
        }
    }

    .#{$ns}-full-height {
        height: 100%;
        &.important {
            height: 100% !important;
        }
    }

    .#{$ns}-full-parent {
        width: 100%;
        height: 100%;
        &.important {
            width: 100% !important;
            height: 100% !important;
        }
    }
}