@mixin abs-center-center() {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@mixin com-zhilizhili-position-right-and-top($right: 0, $top: 0) {
    right: $right;
    top: $top;
}